<% @user.favorites.each do |favorite| %>
  <% @space = favorite.space %>
  <div class="space">
    <h3><a href="/spaces/<%= @space.id %>"><%= @space.user.email %></a></h3>
    <p>
      <%= @space.unit_number %> <%= @space.street_address %> <%= @space.city %> <%= @space.province %> <%= @space.country %> <%= @space.postal_code %>
    </p>
    <p>
      Garden Plot Area in m<SUP>2</SUP>: <%= @space.square_meters %>
    </p>
    <p>
      <%= @space.description %>
    </p>
    <img src="..<%=@space.main_photo%>.jpg">
    <hr>
  </div>
<% end %>
<a href="/spaces">Back to Spaces</a>
