<form method="post" action="/spaces" enctype='multipart/form-data'>
  <div class="form-group">
    <label for="square_meters">Plot Area M<SUP>2</SUP>:</label>
    <input id="square_meters" type="float" name="square_meters" value="<%= @space && @space.square_meters %>">
  </div>
  <div class="form-group">
    <label for="unit_number">Unit Number</label>
    <input id="unit_number" type="text" name="unit_number" value="<%= @space && @space.unit_number %>">
  </div>
  <div class="form-group">
    <label for="street_address">Street Address</label>
    <input id="street_address" type="text" name="street_address" value="<%= @space && @space.street_address %>">
  </div>
  <div class="form-group">
    <label for="city">City</label>
    <input id="city" type="text" name="city" value="<%= @space && @space.city %>">
  </div>
  <div class="form-group">
    <label for="province">Province/State</label>
    <input type="text" id="province" name="province" value="<%= @space && @space.province %>">
  </div>
  <div class="form-group">
    <label for="postal_code">Postal Code</label>
    <input type="text" id="postal_code" name="postal_code" value="<%= @space && @space.postal_code %>">
  </div>
  <div class="form-group">
    <label for="country">Country:</label>
    <input type="text" id="country" name="country" value="<%= @space && @space.country %>">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" id="description" name="description" value="<%= @space && @space.description %>">
  </div>
  <div class="form-group">

  </div>
  <div class="form-group">
    <input type="file" name="uploaded_picture" size="2000000">
  </div>
</form>
