<p>
  Garden Space in M<SUP>2</SUP>: <%= @space.square_meters %>
</p>

<p>
  <%= @space.unit_number %> <%= @space.street_address %> <%= @space.city %> <%= @space.province %> <%= @space.country %> <%= @space.postal_code %>
</p>

<p>
  <%= @space.description %>
</p>

<img src="..<%=@space.main_photo + '.jpg'%>">

<hr/>
<a href="/">Back to Spaces</a>