<h1><%= @user.email %></h1>

<p>
  Garden Space in m<SUP>2</SUP>: <%= @space.square_meters %>
</p>

<p>
  <%= @space.unit_number %> <%= @space.street_address %> <%= @space.city %> <%= @space.province %> <%= @space.country %> <%= @space.postal_code %>
</p>

<p>
  <%= @space.description %>
</p>

<img src="/uploads/<%=@space.main_photo%>">

<hr/>
<a href="/spaces">Back to Spaces</a>