<div class="container-fluid">
  <div class="jumbotron">
    <div class="container-fluid">
      <div class="text-center">
        <h1>share the joy of gardening!</h1>
      </div>
    </div>
  </div>

</div>

<div id="main">
  <div class="container-fluid">

    <!-- Filter Options -->
    <div class="row space-bottom">
      <div class="filter-bar">
        <form action="/">
          <div class="col-md-1 text-center">
            <p>Search by:</p>
          </div>
          <div class="col-md-2">
            <div class="form-group text-center">
              <label for="city">City</label>
              <input type="text" name="city" class="form-control" id="city">
            </div>
          </div>
          <div class="col-md-2 text-center">
            <div class="form-group">
              <label for="province">Province/State</label>
              <input type="text" name="province" class="form-control" id="province">
            </div>
          </div>
          <div class="col-md-2 text-center">
            <div class="form-group">
              <label for="country">Country</label>
              <input type="text" name="country" class="form-control" id="country">
            </div>
          </div>
          <div class="col-md-1 text-center">
            <label for="area">Plot Area</label>
            <div class="input-group">
              <input type="text" name="area" size="3" class="form-control" aria-describedby="unit" id="area">
              <span class="input-group-addon" id="unit">m²</span>
            </div>
          </div>
          <div class="col-md-2 text-center mid-75">
            <div class="form-group" id="radioset">
              <input type="radio" id="radio1" name="radio" value = "true"><label for="radio1">Outdoor</label>
              <input type="radio" id="radio2" name="radio" value = "false"><label for="radio2">Indoor</label>
            </div>
          </div>
          <div class="col-md-1 text-center mid-75">
              <button class="btn btn-primary outline" type="submit">Filter</button>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <!-- Boxes -->
      <% @spaces.each do |space| %>
      <div class="col-lg-4">
          <div class="listing-box">
            <div class="indicator"><%= space.outdoors ? "Outdoor" : "Indoor" %></div>
            <div class="fav-icon"><span class="glyphicon glyphicon-star"></span></div>
            <a href="/spaces/<%= space.id %>?space=<%=space.id%>">
              <div class="box-image" style="background: url(<%=space.main_photo%>.jpg) center no-repeat">&nbsp;</div>
              <h3><%= space.unit_number %> <%= space.street_address %> <%= space.city %> <%= space.province %> <%= space.country %> <%= space.postal_code %></h3>
            </a>
            <div class="area"><p class="text-right"><%= space.square_meters %> m<sup>2</sup></p></div>
          </div>
      </div>
      <% end %>

    </div>


  </div>
</div>
