<!DOCTYPE html>
<html lang="en">
<head>
  <!-- CSS Files (order matters) -->
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'> <!-- font-family: 'Poiret One', sans-serif; -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'> <!-- font-family: 'Roboto', sans-serif; -->
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/stylesheets/application.css">
  <link rel="stylesheet" href="/jquery-ui/jquery-ui.css">
  <link rel="stylesheet" href="/jquery-ui/jquery-ui.theme.css">

  <title>ShareGarden</title>
</head>
<body>

<!-- NAVBAR -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo_font" href="/">ShareGarden</a>
    </div>

    <!-- Search bar -->
    <div>
      <form class="navbar-form navbar-left" role="search" action="/spaces" method="get">
        <div class="form-group">
          <div class="input-group">
            <input type="text" name="search" class="form-control search_bar" placeholder="Search">
            <span class="input-group-btn">
              <button class="btn btn-default invisible-btn"><span class="glyphicon glyphicon-search
"></span> <span class="sr-only">Submit</span></button>
            </span>
          </div>
        </div>
      </form>
    </div>

    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right text-center">
        <!-- ONLY SHOW THE LIST BUTTON IF THERE IS A USER LOGGED IN -->
        <% if current_user %>
          <button class="navbar-btn btn btn-primary outline" type="button" aria-label="Left Align" data-toggle="modal" data-target=".list-space-modal">List your space</button>
        <% end %>
        <!--/. DEFAULT ACTION WHEN CLICKING LOGIN BUTTON IS TO LOG IN AS USER_ID 1 -->
        <% if current_user.nil? %>
          <a class="navbar-btn btn btn-primary outline" aria-label="Left Align" href="/users/1/login">Login</a>
        <% else %>
          <a class="navbar-btn btn btn-primary outline" aria-label="Left Align" href="/logout">Logout</a>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->

  </div>
</nav>
<!--/. NAVBAR -->

  <!-- MAIN CONTAINER -->
  <div class="container-fluid no-padding">
      <%= yield %>
  </div>
  <!-- /.MAIN CONTAINER -->

  <!-- POST MODAL -->
  <div class="modal fade list-space-modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="ModalLabel">New Listing</h4>
        </div>
        <form role="form" data-toggle="validator" method="post" action="/spaces" enctype='multipart/form-data'>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group has-feedback">
                  <label for="square_meters">Plot Area m<SUP>2</SUP></label>
                  <input class="form-control" id="square_meters" type="float" name="square_meters" value="<%= @space && @space.square_meters %>"required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group has-feedback">
                  <label for="unit_number">Unit Number</label>
                  <input class="form-control" id="unit_number" type="text" name="unit_number" value="<%= @space && @space.unit_number %>"required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group has-feedback">
                  <label for="street_address">Street Address</label>
                  <input class="form-control" id="street_address" type="text" name="street_address" value="<%= @space && @space.street_address %>"required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group has-feedback">
                  <label for="city">City</label>
                  <input class="form-control" id="city" type="text" name="city" value="<%= @space && @space.city %>"required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group has-feedback">
                  <label for="province">Province/State</label>
                  <input class="form-control" type="text" id="province" name="province" value="<%= @space && @space.province %>"required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group has-feedback">
                  <label for="postal_code">Postal Code</label>
                  <input class="form-control" type="text" id="postal_code" name="postal_code" value="<%= @space && @space.postal_code %>"required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group has-feedback">
                  <label for="country">Country</label>
                  <input class="form-control" type="text" id="country" name="country" value="<%= @space && @space.country %>"required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="radio" checked="checked" name="outdoors" value="false" <%= (@space && (@space.outdoors == false) ? "checked" : "" ) %> > Indoors
                  <input type="radio" name="outdoors" value="true" <%= (@space && (@space.outdoors == true) ? "checked" : "" ) %> > Outdoors
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <textarea class="form-control" id="description" name="description" value="<%= @space && @space.description %>"></textarea>
            </div>
            <div class="form-group has-feedback">
              <label for="upload">Upload Picture</label>
              <input class="form-control" id="upload" type="file" name="uploaded_picture" size="2000000"required>
            </div>
          </div>
          <div class="modal-footer">
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Post</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--/. POST MODAL -->

<!-- JS Files (at the end for faster loading, ORDER MATTERS) -->
<script src="/javascript/jquery-2.2.2.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/bootstrap/js/validator.js"></script>
<script src="/jquery-ui/jquery-ui.js"></script>
<script src="/javascript/application.js"></script>

</body>
</html>
